<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Crud Node.JS</a>
    <div class="collapse navbar-collapse">
        <ul class="navabar-nav ml-auto">
            <li class="nav-item">
                <a href="/categorias">Categorias</a>
            </li>
        </ul>
    </div>
</nav>